<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/forCss' %>
</head>
<body>
<div class="container">


  <div id="user_nav">
    <nav class="round">
    <% if user_signed_in? %>

        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
    </nav>
  </div>

  <%= render 'layouts/header' %>
    <section class="round">
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>